@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: dense;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.navbar {
  grid-column: span 12;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 160px;
}
.navbar .logo {
  border-radius: 100%;
  height: 80px;
  width: 80px;
  margin-left: 2rem;
  margin-right: 1rem;
  background-color: #b986e2;
}
.navbar .company-name {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #333333;
}
.navbar .company-name span:nth-of-type(1) {
  font-size: 1.7rem;
  font-weight: 400;
}
.navbar .company-name span:nth-of-type(2) {
  margin-top: 7px;
  font-size: 1.1rem;
  font-weight: 400;
}
.navbar .menu {
  display: none;
}
.navbar .menu-btn {
  background-image: url(/img/menu.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  margin-right: 3rem;
}
@media screen and (min-width: 800px) {
  .navbar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px;
    grid-column: span 12;
    height: 11rem;
  }
  .navbar .logo {
    grid-column: 1/2;
    height: 5.5rem;
    width: 5.5rem;
    margin-top: 2rem;
    margin-right: 25px;
  }
  .navbar .company-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 2/13;
    margin-top: 40px;
    width: 100%;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
  }
  .navbar .company-name span:nth-of-type(1) {
    font-size: 2.2rem;
    margin-right: 0.3rem;
  }
  .navbar .company-name span:nth-of-type(2) {
    font-size: 2.2rem;
  }
  .navbar .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
    grid-column: span 12;
    padding: 0;
    list-style-type: none;
  }
  .navbar .menu li {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #4e4e4e;
  }
  .navbar .menu-btn {
    display: none;
  }
}

.hero-content {
  grid-column: span 12;
}
.hero-content .challenges-hero-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;
  background-color: #dfe6ee;
  background-image: url(img/img-placeholder.jpg);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-content .onsite-challenges-btn {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 55px;
  width: 270px;
  border-radius: 0.3rem;
  text-align: center;
  background-color: #6757f5;
  margin-top: 240px;
}
.hero-content a {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.hero-content .online-challenges-btn {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 55px;
  width: 270px;
  border-radius: 0.3rem;
  text-align: center;
  background-color: #6757f5;
  background-color: #fff;
  color: #6757f5;
}
.hero-content .hero-link-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-content .underline {
  border-bottom: 3px solid #6757f5;
  width: 65%;
  opacity: 0.4;
  margin-top: -14px;
}
@media screen and (min-width: 800px) {
  .hero-content .challenges-hero-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25rem;
    height: 400px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
  }
  .hero-content .online-challenges-btn {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 55px;
    width: 270px;
    border-radius: 0.3rem;
    text-align: center;
    background-color: #6757f5;
    /* using a negative value for margin to push the buttons down past image */
    margin-bottom: -30px;
    color: #fff;
  }
  .hero-content .onsite-challenges-btn {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 55px;
    width: 270px;
    border-radius: 0.3rem;
    text-align: center;
    background-color: #6757f5;
    /* using a negative value for margin to push the buttons down past image */
    margin-bottom: -30px;
  }
  .hero-content a {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
  }
  .hero-content .underline {
    display: none;
  }
}

.divider {
  grid-column: span 12;
  height: 65px;
}

.quote {
  grid-column: span 12;
  display: flex;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 1px;
  color: #333333;
}
.quote .quote-img {
  background-color: #dfe6ee;
  background-image: url(/img/user-placeholder.jpg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.quote .quote-right {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.quote span {
  margin-bottom: 10px;
}
.quote span:nth-of-type(2) {
  font-size: 1.2rem;
  font-style: normal;
  letter-spacing: 0;
}

.header {
  grid-column: span 12;
  text-align: center;
}
.header .header-content {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333;
}

/*# sourceMappingURL=styles.css.map */
