@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: dense;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.header {
  grid-column: span 12;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 144px;
}
.header .logo {
  height: 82px;
  width: 128px;
  margin: 26 0 36 27;
  background-color: #b986e2;
}
.header .company-name {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #333333;
}
.header .company-name span:nth-of-type(1) {
  font-size: 1.7rem;
  font-weight: 400;
}
.header .company-name span:nth-of-type(2) {
  margin-top: 7px;
  font-size: 1.1rem;
  font-weight: 400;
}
.header .menu {
  display: none;
}
.header .menu-btn {
  background-image: url(/img/menu.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  margin-right: 3rem;
}
@media screen and (min-width: 800px) {
  .header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px;
    grid-column: span 12;
    height: 175px;
  }
  .header .logo {
    grid-column: 1/2;
    height: 88px;
    width: 88px;
    margin-top: 2rem;
    margin-right: 25px;
    margin-left: 4rem;
  }
  .header .company-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 2/13;
    margin-top: 40px;
    width: 100%;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
  }
  .header .company-name span:nth-of-type(1) {
    font-size: 2.2rem;
    margin-right: 0.3rem;
  }
  .header .company-name span:nth-of-type(2) {
    font-size: 2.2rem;
  }
  .header .navbar {
    grid-column: span 12;
  }
  .header .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
    grid-column: span 12;
    padding: 0;
    list-style-type: none;
  }
  .header .menu li {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #4e4e4e;
  }
  .header .menu-btn {
    display: none;
  }
}

.hero-content {
  grid-column: span 12;
}
.hero-content .challenges-hero-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;
  background-color: #dfe6ee;
  background-image: url(img/img-placeholder.jpg);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-content .onsite-challenges-btn {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 55px;
  width: 270px;
  border-radius: 0.3rem;
  text-align: center;
  text-decoration: none;
  background-color: #6757f5;
  margin-top: 240px;
}
.hero-content a {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}
.hero-content .online-challenges-btn {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 55px;
  width: 270px;
  border-radius: 0.3rem;
  text-align: center;
  text-decoration: none;
  background-color: #6757f5;
  background-color: #fff;
  color: #6757f5;
  text-decoration-color: #6757f5;
  text-underline-offset: 5px;
  text-decoration: underline;
  background-color: #fff;
  color: #6757f5;
}
.hero-content .hero-link-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .hero-content .challenges-hero-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25rem;
    height: 400px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
  }
  .hero-content .online-challenges-btn {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 55px;
    width: 270px;
    border-radius: 0.3rem;
    text-align: center;
    text-decoration: none;
    background-color: #6757f5;
    /* using a negative value for margin to push the buttons down past image */
    margin-bottom: -30px;
    color: #fff;
  }
  .hero-content .onsite-challenges-btn {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 55px;
    width: 270px;
    border-radius: 0.3rem;
    text-align: center;
    text-decoration: none;
    background-color: #6757f5;
    /* using a negative value for margin to push the buttons down past image */
    margin-bottom: -30px;
  }
  .hero-content a {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
  }
  .hero-content .underline {
    display: none;
  }
}

.quote {
  grid-column: span 12;
  display: flex;
  margin-top: 130px;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 1px;
  color: #333333;
}
.quote .quote-img {
  background-color: #dfe6ee;
  background-image: url(/img/user-placeholder.jpg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.quote .quote-right {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.quote cite {
  font-size: 1.2rem;
  font-style: normal;
  letter-spacing: 0;
  margin-top: 10px;
}

.challenges {
  grid-column: span 12;
  text-align: center;
  margin-top: 65px;
}
.challenges .challenges-header {
  font-size: 1.7rem;
  font-weight: 500;
  color: #333333;
}
.challenges .slider {
  margin-top: 30px;
  margin-bottom: 50px;
  grid-column: span 12;
  text-align: center;
  overflow: hidden;
  display: block;
}
.challenges .slider .slides {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.challenges .slider .slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.challenges .slider .slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.challenges .slider .slides::-webkit-scrollbar-track {
  background: transparent;
}
.challenges .slider .slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 400px;
  height: 480px;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.challenges a {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 55px;
  width: 270px;
  border-radius: 0.3rem;
  text-align: center;
  text-decoration: none;
  background-color: #6757f5;
  background-color: #fff;
  color: #6757f5;
  text-decoration-color: #6757f5;
  text-underline-offset: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: underline;
  margin-left: auto;
  margin-right: auto;
}

.company-information {
  grid-column: span 12;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.company-information a {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 55px;
  width: 270px;
  border-radius: 0.3rem;
  text-align: center;
  text-decoration: none;
  background-color: #6757f5;
  background-color: #fff;
  color: #6757f5;
  text-decoration-color: #6757f5;
  text-underline-offset: 5px;
  border: 1px solid #6757f5;
  margin-right: auto;
  margin-left: auto;
}

.bookings {
  grid-column: span 12;
  margin-top: 60px;
  text-align: left;
}
.bookings img {
  margin-top: 50px;
  background-image: url(/img/img-placeholder.jpg);
  background-color: #dfe6ee;
  background-size: 12rem;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 100%;
}
.bookings h4 {
  margin-left: 30px;
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}
.bookings p {
  margin-left: 30px;
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}
.bookings a[title~=on-site] {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 55px;
  width: 270px;
  border-radius: 0.3rem;
  text-align: center;
  text-decoration: none;
  background-color: #6757f5;
  border: 1px solid #6757f5;
  margin-left: 30px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
}
.bookings a[title~=online] {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 55px;
  width: 270px;
  border-radius: 0.3rem;
  text-align: center;
  text-decoration: none;
  background-color: #6757f5;
  background-color: #fff;
  color: #6757f5;
  text-decoration-color: #6757f5;
  text-underline-offset: 5px;
  margin: 0 0 0 30px;
  justify-content: flex-start;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: underline;
}

footer {
  grid-column: span 12;
  background-color: #dfe6ee;
  text-align: left;
  margin-top: 50px;
}
footer p {
  margin-top: 0;
}
footer h5 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1.3rem;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 400;
}
footer .about {
  margin: 0 4rem 0 4rem;
}
footer .links {
  display: flex;
}
footer .site-map {
  margin: 0 4rem 0 4rem;
}
footer .social {
  margin: 0 4rem 0 4rem;
}

/*# sourceMappingURL=styles.css.map */
