@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: dense;
  box-sizing: border-box;
  font-size: 16px;
}

.layer {
  position: fixed;
  size: fill;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 50%;
  background-color: #fff;
  animation: fadeIn 0.1s;
}

.header {
  grid-column: span 12;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 144px;
  background-color: #011827;
  padding-left: 27px;
  padding-right: 27px;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  /*
    - create menu card element
    - create button to close/hide card
    - create ul and li elements using JS to reuse in dropDown
    - add onClick for close button to hide menu card
    - add onClick for menu btn to show menu card
    - animation for menu and layer
      - menu easeIn and scale up from middle
      - layer opacity increase 0 > 50%
  */
}
.header .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 82px;
  margin: 26px 0 36px 0;
}
.header .logo .logo-img {
  height: 82px;
  width: 128px;
  margin-right: 13px;
}
.header .logo .company-name {
  height: 84px;
  width: 78px;
  font-size: 24px;
}
.header .menu {
  display: none;
}
.header .menu-btn {
  height: 50px;
  width: 50px;
  align-self: flex-start;
  margin-top: 22px;
}
.header .dropDownMenu {
  position: absolute;
  top: 23px;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100vh;
  z-index: 3;
  background-color: #011827;
  animation: menuEnter cubic-bezier(0.7, 0, 0.84, 0) 0.2s;
}
.header .dropDownMenu .exitBtnLink {
  align-self: flex-end;
  margin-right: 28px;
  margin-top: 28px;
}
.header .dropDownMenu .exitBtn {
  height: 40px;
}
.header .dropDownMenu .mobileMenu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 20vh;
  margin-bottom: 20vh;
  list-style-type: none;
}
.header .dropDownMenu .mobileMenu li {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-size: 36px;
  line-height: 42px;
}
@media screen and (min-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    grid-column: span 12;
    height: 216px;
  }
  .header .logo {
    display: flex;
    width: 100%;
    height: 128px;
    margin-top: 27px;
    margin-left: 27px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .header .logo .logo-img {
    height: 82px;
    width: 128px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .header .logo .company-name {
    height: 47px;
    width: 404px;
    margin-bottom: 5px;
    margin-left: 24px;
    align-self: flex-end;
    font-size: 40px;
    line-height: 47px;
  }
  .header .navbar {
    width: 100%;
  }
  .header .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 22px;
    grid-column: span 12;
    padding: 0;
    list-style-type: none;
  }
  .header .menu li {
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    transition: color 0.5s;
  }
  .header .menu li:hover {
    color: #8acfe5;
    cursor: pointer;
  }
  .header .menu-btn {
    display: none;
  }
  .header .dropDownMenu {
    display: none;
  }
}

.hero {
  grid-column: span 12;
}
.hero .hero-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 274px;
}
.hero .onsite-challenges-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  transition: opacity 1s;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  margin-top: 37px;
}
.hero .onsite-challenges-cta:hover {
  opacity: 0.7;
}
.hero .online-challenges-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  transition: opacity 1s;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  background-color: #fff;
  color: #36769d;
  text-decoration-color: #36769d;
  font-size: 16px;
  line-height: 18.75px;
  text-decoration: underline;
}
.hero .online-challenges-cta:hover {
  opacity: 0.7;
}
.hero .hero-cta-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .hero .hero-img {
    height: 468px;
  }
  .hero .hero-btn-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
  }
  .hero .online-challenges-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 66px;
    width: 308px;
    border-radius: 4px;
    background-color: #8acfe5;
    transition: opacity 1s;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #011827;
    margin-right: 9px;
    background-color: #e3170a;
    color: #fff;
  }
  .hero .online-challenges-cta:hover {
    opacity: 0.7;
  }
  .hero .onsite-challenges-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 66px;
    width: 308px;
    border-radius: 4px;
    background-color: #8acfe5;
    transition: opacity 1s;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #011827;
    margin-top: 0px;
    margin-left: 9px;
  }
  .hero .onsite-challenges-cta:hover {
    opacity: 0.7;
  }
}

.testimonials {
  grid-column: span 12;
}
.testimonials .testimonial {
  display: flex;
  margin-top: 67px;
  margin-right: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
}
.testimonials .testimonial .testimonial-img {
  margin-left: 21px;
}
.testimonials .testimonial .quote-person-img {
  border-radius: 100%;
  height: 73px;
  width: 73px;
}
.testimonials .testimonial .testimonial-quote {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  font-size: 24px;
  font-style: italic;
}
.testimonials .testimonial cite {
  margin-top: 10px;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0;
}
.testimonials .testimonial:nth-of-type(2) {
  display: none;
}
@media screen and (min-width: 800px) {
  .testimonials {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 6.7rem;
    margin-right: 6.7rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials .testimonial .quote-person-img {
    height: 107px;
    width: 107px;
  }
  .testimonials .testimonial:nth-of-type(2) {
    display: flex;
  }
}

.challenges {
  grid-column: span 12;
  text-align: center;
  margin-top: 65px;
}
.challenges .challenges-header {
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 37.5px;
  color: #000;
}
.challenges .slider {
  margin-top: 30px;
  margin-bottom: 50px;
  grid-column: span 12;
  text-align: left;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  padding: 2px;
}
.challenges .slider .slides {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.challenges .slider .slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.challenges .slider .slides::-webkit-scrollbar-thumb {
  background: #011827;
  border-radius: 10px;
}
.challenges .slider .slides::-webkit-scrollbar-track {
  background: transparent;
}
.challenges .slider .slides > .challenge-item {
  scroll-snap-align: start;
  flex-shrink: 0;
  height: 446px;
  width: 363px;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background: #fff;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.challenges .slider .slides > .challenge-item img {
  height: 219px;
  width: 363px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.challenges .slider .slides > .challenge-item .challenge-item-header {
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 0px;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 33px;
}
.challenges .slider .slides > .challenge-item .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  width: 90%;
}
.challenges .slider .slides > .challenge-item .challenge-item-rating-star {
  width: 1rem;
  height: 1rem;
  image-resolution: 600dpi;
}
.challenges .slider .slides > .challenge-item .challenge-item-rating-star-unfilled {
  width: 1rem;
  height: 1rem;
  image-resolution: 600dpi;
}
.challenges .slider .slides > .challenge-item .participants {
  margin-top: 3px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 16px;
}
.challenges .slider .slides > .challenge-item .card-content {
  margin-left: 18px;
  margin-top: 18px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
}
.challenges .slider .slides > .challenge-item .card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  transition: opacity 1s;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  margin-left: 166px;
  margin-top: auto;
  margin-bottom: 12px;
  color: #fff;
  background-color: #e3170a;
  width: 179px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 18.75px;
}
.challenges .slider .slides > .challenge-item .card-btn:hover {
  opacity: 0.7;
}
.challenges .all-challenges {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 47px;
}
.challenges a[title~=on-site] {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  transition: opacity 1s;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  margin-bottom: 10px;
  color: #011827;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}
.challenges a[title~=on-site]:hover {
  opacity: 0.7;
}
.challenges a[title~=online] {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  transition: opacity 1s;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  background-color: #fff;
  color: #36769d;
  text-decoration-color: #36769d;
  font-size: 16px;
  line-height: 18.75px;
  font-size: 16px;
  line-height: 18.75px;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}
.challenges a[title~=online]:hover {
  opacity: 0.7;
}
@media screen and (min-width: 800px) {
  .challenges .challenges-header {
    font-size: 36px;
    line-height: 42px;
  }
  .challenges .slider {
    padding: 3px;
  }
  .challenges .slider .slides {
    flex-direction: row;
    justify-content: space-around;
    scroll-snap-type: none;
    overflow-x: visible;
    scroll-behavior: none;
    -webkit-overflow-scrolling: none;
  }
  .challenges .slider .slides .challenge-item:nth-of-type(3) {
    display: none;
  }
  .challenges .all-challenges {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 87px;
  }
  .challenges a[title~=online] {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 66px;
    width: 308px;
    border-radius: 4px;
    background-color: #8acfe5;
    transition: opacity 1s;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #011827;
    margin-bottom: 10px;
    margin-right: 9px;
    background-color: #e3170a;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
  }
  .challenges a[title~=online]:hover {
    opacity: 0.7;
  }
  .challenges a[title~=on-site] {
    margin-left: 9px;
  }
}
@media screen and (min-width: 1200px) {
  .challenges .slider .slides .challenge-item:nth-of-type(3) {
    display: flex;
  }
}

.story {
  grid-column: span 12;
  text-align: center;
  height: 500px;
  background-color: #011827;
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}
.story p {
  margin: 95px 1.5rem 0px 1.5rem;
}
.story a[title~=story] {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  transition: opacity 1s;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  margin: 40px auto 0 auto;
  background-color: #011827;
  color: #8acfe5;
  border: 2px solid #8acfe5;
}
.story a[title~=story]:hover {
  opacity: 0.7;
}
@media screen and (min-width: 800px) {
  .story {
    margin-top: 87px;
  }
}

.bookings {
  grid-column: span 12;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.bookings img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
.bookings h4 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.5px;
}
.bookings p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
}
.bookings a {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  transition: opacity 1s;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  margin-top: 55px;
  margin-left: 21px;
  margin-bottom: 60px;
  color: #fff;
  background-color: #e3170a;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.bookings a:hover {
  opacity: 0.7;
}
@media screen and (min-width: 1200px) {
  .bookings .event-container:nth-of-type(1) {
    display: flex;
    flex-direction: row;
  }
  .bookings .event-container:nth-of-type(2) {
    display: flex;
    flex-direction: row-reverse;
  }
  .bookings img {
    max-height: 460px;
    min-height: 460px;
    max-width: 50%;
    min-width: 50%;
  }
  .bookings .event-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-width: 50%;
    min-width: 50%;
  }
  .bookings h4 {
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
  }
  .bookings p {
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
  }
  .bookings a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 66px;
    width: 308px;
    border-radius: 4px;
    background-color: #8acfe5;
    transition: opacity 1s;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #011827;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 66px;
    align-self: flex-start;
    color: #fff;
    background-color: #e3170a;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  .bookings a:hover {
    opacity: 0.7;
  }
}

.footer {
  grid-column: span 12;
  background-color: #011827;
  color: #fff;
  text-align: left;
  margin-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  height: 566px;
}
.footer p {
  margin-top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.footer .footer-header {
  margin-top: 64px;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
}
.footer .footer-list-menu {
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
}
.footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.footer .about {
  margin: 0 21px 0 21px;
}
.footer .links {
  display: flex;
  flex-direction: column;
}
.footer .site-map {
  margin: 0 21px 0 21px;
}
.footer .site-map ul:nth-of-type(2) {
  margin-top: 21px;
}
.footer .social {
  margin: 0 21px 0 21px;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 467px;
    margin-top: 182px;
  }
  .footer .about {
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;
    margin-top: 120px;
  }
  .footer .links {
    grid-column: 7/13;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 15%;
    margin-top: 147px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes menuEnter {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
