@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-flow: dense;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.header {
  grid-column: span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 144px;
  background-color: #011827;
  padding-left: 27px;
  padding-right: 27px;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82px;
  margin: 26px 0 36px 0;
}

.header .logo .logo-img {
  height: 82px;
  width: 128px;
  margin-right: 13px;
}

.header .logo .company-name {
  height: 84px;
  width: 78px;
}

.header .menu {
  display: none;
}

.header .menu-btn {
  background-image: url(/img/menu-white.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  margin-right: 3rem;
}

@media screen and (min-width: 800px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-column: span 12;
    height: 216px;
  }
  .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 128px;
    margin-top: 27px;
    margin-left: 27px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo .logo-img {
    height: 82px;
    width: 128px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .header .logo .company-name {
    height: 47px;
    width: 404px;
    margin-bottom: 4px;
    margin-left: 24px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 40px;
    line-height: 47px;
  }
  .header .navbar {
    width: 100%;
  }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
    grid-column: span 12;
    padding: 0;
    list-style-type: none;
  }
  .header .menu li {
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
  }
  .header .menu li:hover {
    color: #8acfe5;
  }
  .header .menu-btn {
    display: none;
  }
}

.hero-content {
  grid-column: span 12;
}

.hero-content .challenges-hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 274px;
}

.hero-content .onsite-challenges-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  margin-top: 37px;
}

.hero-content .online-challenges-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  background-color: #fff;
  color: #36769d;
  -webkit-text-decoration-color: #36769d;
          text-decoration-color: #36769d;
  font-size: 16px;
  line-height: 18.75px;
  text-decoration: underline;
}

.hero-content .hero-link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 800px) {
  .hero-content .challenges-hero-img {
    height: 468px;
  }
  .hero-content .hero-btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -35px;
  }
  .hero-content .online-challenges-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 66px;
    width: 308px;
    border-radius: 4px;
    background-color: #8acfe5;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #011827;
    margin-right: 9px;
    background-color: #e3170a;
    color: #fff;
  }
  .hero-content .onsite-challenges-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 66px;
    width: 308px;
    border-radius: 4px;
    background-color: #8acfe5;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #011827;
    margin-top: 0px;
    margin-left: 9px;
  }
}

.quote-container {
  grid-column: span 12;
}

.quote-container .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 67px;
  margin-right: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
}

.quote-container .quote .quote-left {
  margin-left: 21px;
}

.quote-container .quote .quote-img {
  border-radius: 100%;
  height: 73px;
  width: 73px;
}

.quote-container .quote .quote-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 22px;
  font-size: 24px;
  font-style: italic;
}

.quote-container .quote cite {
  margin-top: 10px;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0;
}

.quote-container .quote:nth-of-type(2) {
  display: none;
}

@media screen and (min-width: 800px) {
  .quote-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 6.7rem;
    margin-right: 6.7rem;
  }
  .quote-container .quote .quote-img {
    height: 107px;
    width: 107px;
  }
  .quote-container .quote:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.challenges {
  grid-column: span 12;
  text-align: center;
  margin-top: 65px;
}

.challenges .challenges-header {
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 37.5px;
  color: #000;
}

.challenges .slider {
  margin-top: 30px;
  margin-bottom: 50px;
  grid-column: span 12;
  text-align: left;
  overflow: hidden;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px;
}

.challenges .slider .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.challenges .slider .slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.challenges .slider .slides::-webkit-scrollbar-thumb {
  background: #011827;
  border-radius: 10px;
}

.challenges .slider .slides::-webkit-scrollbar-track {
  background: transparent;
}

.challenges .slider .slides > .card {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 446px;
  width: 363px;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background: #fff;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.challenges .slider .slides > .card img {
  height: 219px;
  width: 363px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.challenges .slider .slides > .card .card-header {
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 0px;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 33px;
}

.challenges .slider .slides > .card .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 17px;
}

.challenges .slider .slides > .card .card-rating-star {
  background-image: url("/img/star_1.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 26px;
}

.challenges .slider .slides > .card .card-rating-star-unfilled {
  background-image: url("/img/star_2.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 26px;
}

.challenges .slider .slides > .card span {
  margin-top: 3px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 16px;
}

.challenges .slider .slides > .card .card-content {
  margin-left: 18px;
  margin-top: 18px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
}

.challenges .slider .slides > .card .card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  margin-left: 166px;
  margin-top: auto;
  margin-bottom: 12px;
  color: #fff;
  background-color: #e3170a;
  width: 179px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 18.75px;
}

.challenges .all-challenges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 47px;
}

.challenges a[title~='on-site'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  margin-bottom: 10px;
  color: #011827;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}

.challenges a[title~='online'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  background-color: #fff;
  color: #36769d;
  -webkit-text-decoration-color: #36769d;
          text-decoration-color: #36769d;
  font-size: 16px;
  line-height: 18.75px;
  font-size: 16px;
  line-height: 18.75px;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (min-width: 800px) {
  .challenges .challenges-header {
    font-size: 36px;
    line-height: 42px;
  }
  .challenges .slider {
    padding: 3px;
  }
  .challenges .slider .slides {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    overflow-x: visible;
    scroll-behavior: none;
    -webkit-overflow-scrolling: none;
  }
  .challenges .slider .slides .card:nth-of-type(3) {
    display: none;
  }
  .challenges .all-challenges {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 87px;
  }
  .challenges a[title~='online'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 66px;
    width: 308px;
    border-radius: 4px;
    background-color: #8acfe5;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #011827;
    margin-bottom: 10px;
    margin-right: 9px;
    background-color: #e3170a;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
  }
  .challenges a[title~='on-site'] {
    margin-left: 9px;
  }
}

@media screen and (min-width: 1200px) {
  .challenges .slider .slides .card:nth-of-type(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.company-information {
  grid-column: span 12;
  text-align: center;
  height: 500px;
  background-color: #011827;
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}

.company-information p {
  margin: 95px 20px 0px 20px;
}

.company-information a[title~='story'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  margin: 40px auto 0 auto;
  background-color: #011827;
  color: #8acfe5;
  border: 2px solid #8acfe5;
}

@media screen and (min-width: 800px) {
  .company-information {
    margin-top: 87px;
  }
}

.bookings {
  grid-column: span 12;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bookings img {
  max-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bookings h4 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.5px;
}

.bookings p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
}

.bookings a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 66px;
  width: 308px;
  border-radius: 4px;
  background-color: #8acfe5;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #011827;
  margin-top: 55px;
  margin-left: 21px;
  margin-bottom: 60px;
  color: #fff;
  background-color: #e3170a;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

@media screen and (min-width: 1200px) {
  .bookings .event-container:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .bookings .event-container:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .bookings img {
    max-height: 460px;
    min-height: 460px;
    max-width: 50%;
    min-width: 50%;
  }
  .bookings .event-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    max-width: 50%;
    min-width: 50%;
  }
  .bookings h4 {
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
  }
  .bookings p {
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
  }
  .bookings a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 66px;
    width: 308px;
    border-radius: 4px;
    background-color: #8acfe5;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #011827;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 66px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    color: #fff;
    background-color: #e3170a;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
}

footer {
  grid-column: span 12;
  background-color: #011827;
  color: #fff;
  text-align: left;
  margin-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  height: 566px;
}

footer p {
  margin-top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

footer .footer-header {
  margin-top: 64px;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
}

footer .footer-list-menu {
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

footer .about {
  margin: 0 21px 0 21px;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .site-map {
  margin: 0 21px 0 21px;
}

footer .site-map ul:nth-of-type(2) {
  margin-top: 21px;
}

footer .social {
  margin: 0 21px 0 21px;
}

@media screen and (min-width: 1200px) {
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    height: 467px;
    margin-top: 182px;
  }
  footer .about {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 15%;
    margin-top: 120px;
  }
  footer .links {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / 13;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: 15%;
    margin-top: 147px;
  }
}
/*# sourceMappingURL=styles.css.map */